/*parrafo*/
p {
    font-size: 1.2em;
}

/*links*/
a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*entrada*/
input {
    width: 250px;
    height: 30px;
    font-size: 1em;
}
  
/*boton*/
button {
    font-size: 1em;
    color: #fff;
    padding: 10px 20px;
    background-color: #ff0000;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #f10000;
}

/*contenedor resultado*/
.result-container {
    border: 1px solid #000;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

/*texto resultado*/
.result {
    font-size: 1em;
}

/*se oculta el contenedor*/
#result-container {
    display: none;
}