/*parrafo*/
p {
    font-size: 1.2em;
}

/*texto pequeño*/
.p {
    font-size: 0.9em;
}

/*parrafo calculo detallado*/
.det {
    font-size: 1.2em;
    margin-bottom: 0; /*margen inferior*/
}

/*texto pequeño detallado*/
.p-det {
    font-size: 0.9em;
    margin-top: 4px; /*margen superior*/
}

/*texto error en rojo*/
.error {
    font-size: 1em;
    color: #ff0000;
    font-weight: bold;
    margin-top: 5px;
}

/*entrada numero*/
input[type="number"] {
    width: 250px;
    height: 30px;
    font-size: 1em;
}

/*entrada texto*/
input[type="text"] {
    width: 220px;
    height: 30px;
    font-size: 1em;
}

/*entrada texto read only*/
.salida {
    background-color: #dcdcdc;
}

/*boton*/
button {
    background-color: #ff0000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #f10000;
}

/*selector*/
select {
    width: 250px;
    height: 30px;
    font-size: 1em;
}

/*opciones selector*/
select option {
    background-color: #fff;
    font-size: 1em;
}

/*contorno grande*/
.totales {
    border: 1px solid #000;
    padding: 0px;
    max-width: 300px;
    margin: 0 auto;
}

/*contorno mediano*/
.med {
    border: 1px solid #000;
    padding: 0px;
    max-width: 260px;
    margin: 0 auto;
}

/*contorno pequeño*/
.box {
    border: 1px solid #000;
    max-width: 260px;
    height: 130px;
    margin: auto;
}